extends ./layout

block task-content
    div(ng-controller="ViewTasksCtrl").form-group.well
        form(role="form")
            div#pnlFilters
                div.text-right
                    button(name="btnToggleFilterControlsVisibility" ng-click="toggleVisibility()" Value="Filters").btn.btn-default
                        span(ng-show="!showFilterControls") Show Filter
                        span(ng-show="showFilterControls") Hide Filter
                        |  
                        span(ng-class="{'glyphicon-chevron-up' : showFilterControls, 'glyphicon-chevron-down' : !showFilterControls}").glyphicon
                div#pnlFilterControls(ng-show="showFilterControls")
                    p.input-group
                        div.datePickerContainer
                            span.datePickerText From
                            input(name="dtPickerStartDate" type="text" datepicker-popup="{{format}}" ng-model="startDate" is-open="datepickers.dtPickerStartDate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-change="dateChanged()").form-control.datePickerInput
                            span.input-group-btn
                                button(type="button" ng-click="open($event, 'dtPickerStartDate')").btn.btn-default
                                    i.glyphicon.glyphicon-calendar
                        div.datePickerContainer
                            span.datePickerText To
                            input(name="dtPickerEndDate" type="text" datepicker-popup="{{format}}" ng-model="endDate" is-open="datepickers.dtPickerEndDate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-change="dateChanged()").form-control.datePickerInput
                            span.input-group-btn
                                button(type="button" ng-click="open($event, 'dtPickerEndDate')").btn.btn-default
                                    i.glyphicon.glyphicon-calendar
            table.table.table-striped
                thead 
                    th(style="width:20%") DATE
                    th ADDED BY
                    th(style="width:50%") TASK NAME
                tbody
                    tr(ng-repeat="task in pagetasks")
                        td {{ task.params.created_date | date:'yyyy-MM-dd' }}
                        td 
                            img#img-avatar-load.image-avatar-small(ng-src="/{{task.params.owner.avatar}}")
                            |  {{task.params.owner.display_name}}
                        td
                            a(ng-href="/task/view/{{task.id}}") {{task.name}}
            span(ng-hide="_pagingOptions.totalItems > 0") There are no Tasks matching the defined criteria.
            pagination(boundary-links="true" total-items="_pagingOptions.totalItems" max-size="_pagingOptions.pageCount" ng-model="_pagingOptions.currentPage" items-per-page="_pagingOptions.pageSize" ng-change="pageChanged()" ng-show="_pagingOptions.display").pagination-sm
