.row
    .col-md-12
        span.glyphicon.glyphicon-plus(style="top: -10px; left: 10px;")
        img#img-avatar.image-avatar-small(ng-src="/{{task.audit.created_by.avatar}}", style="top: -10px; left: 10px;")
        |  {{task.audit.created_date | date: 'MM/dd/yyyy'}}
        span.glyphicon.glyphicon-pencil(style="top: -10px; left: 10px;")
        img#img-avatar.image-avatar-small(ng-src="/{{task.audit.modified_by.avatar}}")
        |  {{task.audit.modified_date | date: 'MM/dd/yyyy'}}
br