.row
    .col-md-12.text-right
        b Created By:
        |  {{task.audit.created_by.display_name}} {{task.audit.created_date | date: 'MM/dd/yyyy'}}
        |  |
        |  
        b Last Modified:
        |  
        |  {{task.audit.modified_by.display_name}} {{task.audit.modified_date | date: 'MM/dd/yyyy'}}
br