.container
    .row
        .col-md-12.text-right
            a(href="https://ev1.visualstudio.com/DefaultCollection/Business%20Intelligence") Issues
            span(style="padding: 0px 5px 0px 5px")
            a(href="https://github.com/sbabitsky/BusinessIntelligence/releases") Releases
            span(style="padding: 0px 5px 0px 5px")
            include version