div(ng-controller="SearchCtrl")
    .input-group
        span.input-group-btn
            button.btn.btn-default(type="button", ng-click="search()", style="width:40px;")
                span.glyphicon.glyphicon-search(ng-show="!searching")
                img.loader(src="/public/images/loader.gif", ng-show="searching")
        input.form-control(placeholder="Search criteria", ng-model="search.criteria", ng-change="search()")
    br
    table.table.table-striped
        tr(ng-repeat="task in search.tasks")
            td.col-td-min
                | {{$index + 1}}
            td
                a(ng-href="/task/view/{{task.id}}")
                    span(ng-bind-html="highlight(task.name)")
                div
                    b Description: 
                    span(ng-bind-html="highlight(task.description)")
                div(ng-if="task.inputs.length")
                    b Inputs: 
                    span(ng-repeat="condition in task.inputs", ng-bind-html="highlight(condition.name)")
                div(ng-if="task.outputs.length")
                    b Outputs: 
                    span(ng-repeat="condition in task.outputs", ng-bind-html="highlight(condition.name)")
                div(ng-if="task.external_id")
                    b TFS #: 
                    span(ng-bind-html="highlight(task.external_id)")
            td.col-td-min
                div(ng-show="user.access.taskUpdate").no-wrap
                    a(ng-href="/task/update/{{task.id}}")
                        span.glyphicon.glyphicon-pencil